body{
    background-color: rgb(231, 240, 248);
    font-family:Microsoft JhengHei;
    /*color: rgb(4, 4, 158);*/
}
.blook{
    border-style:solid;
    width:95%;
    height: 200px;
    margin:0px auto;
}
#header{

}
#toolbar{
    background-color: rgb(78, 173, 173);
    width:95%;
    height: 50px;
    margin:0px auto;

}
.htoolbar{
    color: rgb(4, 4, 158);
    font-size: 20px;
    font-style: inherit;
    text-decoration: none;
}
.NaviAllign {
    height:auto;
}

.position {
    position:absolute;
}

#logo_div {
    position :absolute;
    /*height: 45px;*/
    /*line-height: 50px;*/
    float: left;
    width: 414px;
    top: 21px;
    left: 91px;
}

#tomid {
    /*position :absolute;
    /*height: 45px;*/
    /*line-height: 50px;*/
    width: 414px;
    top: 21px;
    left: 91px;
    display:  block;
    margin:auto;
    font-family:Microsoft JhengHei;
}

#toright {
    /*position :absolute;
    /*height: 45px;*/
    /*line-height: 50px;*/
    float: right;
    width: 414px;
    top: 21px;
    left: 91px;
}

#lang{
    position:absolute;
    width: 17%;
    float: right;
    height: 50px;
    top: 20px;
    left: 900px;
    margin-right: 0px;
}
#link{
    width: 300px;

}

#logo{
    height: 50px;
    left: -99px;
    right: 449px;
    top: -9px;
    margin-left: 0px;
    margin-top: 0px;
}
#food{
    color: black;
}
#food_pic{
    height: 175px;
    line-height: 200px;

}
.foodblock{
    color:black;
}