.cycle-slideshow {
    margin-left: -370px;
    position: relative;
    width: 960px;
    height: 300px;
    max-height: 100%;
    overflow: hidden;
	left:50%;
}
.cycle-slideshow  img {
        position: absolute;
        margin-left: 100px;
        max-width: 100%;
        max-height: 100%;
    }
#body{
    background-color: rgb(231, 240, 248);
    font-family:Microsoft JhengHei;
    /*color: rgb(4, 4, 158);*/
}
.
{
    background-color: rgb(206, 206, 206);
    width:95%;
}
.block_color{
    background-color: rgb(206, 206, 206);
    width:95%;
}
.inblock{
    margin:0px auto;
    vertical-align : middle;
    left: 0;
    right: 0;
}
}#pic_block{
    width: 55%;
    margin:0px auto;
}
#nature-picture{
	
	position: relative;
        margin-left: 50px;
        width: 300px;
		height: 480px;
		margin-top: 100px;
		margin-left: 300px;
		
	
}
#toolbar{
    background-color:  rgb(78, 173, 173);
    width:95%;
    height: 80px;
    margin-top:50px;
    
    line-height: 50px;
   
}
#logo_div {
    display: inline-block;
    position: relative;
   
	/*float:left*/
    top: -40px;
	left: 0%;

	margin-left: 60px; 
}
#lang{
    
    width: 15%;
    margin-top: -40px;
    float: right;
    
}
#logo{
    width: 50px;
    height: 50px;
}

#travelbox{
	margin-right:100px;
}
#travel{
	display:inline-block;
	width: 100%;
	position: relative;
	left:100px;
	
	margin-left: -40px;
	top: 20px;
}

#plan{
	display:inline-block;
	
	position: relative;
	margin-left: 300px;
	top: 20px;
}
#test{
	display:inline-block;
	
	position: relative;
	margin-left: 260px;
	top: 20px;
}
.day{
	border-style: solid;
	border-color: gray;
	border-width: 2px; 
	padding:3px;
}
.day-route{
	margin-left:60px;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	color:gray;
}
.context{
}
img{
	
}
.leftBar {
   
position:fixed;
left:-40px;
top:100px;
bottom:100px;
height: 100px;
width: 80px;
margin-bottom: 200px;
margin-top: 300px;
background-color: #48D1CC;

}
	.leftBar ul li{
		list-style:none;
	}
   /* .leftBar ul {

        text-align: center;
        margin-top: 100px;
        padding-left: inherit;
        border: 1px solid black;
        width: 60px;
        height: 1000px;
        background-color: burlywood;

    }*/
.htoolbar {
    color: rgb(4, 4, 158);
    font-size: 20px;
    text-decoration: none;
}

.CmdBox {
    position: relative;
    left:160px;
    
}
#background{
	
	min-height:100%;
	
}
#gotop{
	left:50%;
	bottom:0px;
}
.blook{
    
    background-color: rgb(206, 206, 206);
    width:95%;
    height: 200px;
    margin:0px auto;
}
.blook2{
    
    
    width:auto;
    height: 200px;
    margin:0px auto;
}
.pic_nav{
    height: 175px;
    line-height: 200px;
    float: left;
}
.pic{
    height: 175px;
    line-height: 200px;


   }
#flexiselDemo3 {
    display:none;
    }
    .clearout {
        height:20px;
        clear:both;
        }
        .nbs-flexisel-container {
            position:relative;
            max-width:100%;
        }
        .nbs-flexisel-ul {
            position:relative;
            width:99999px;
            margin:0px;
            padding:0px;
            list-style-type:none;   
            text-align:center;  
            overflow: auto;
        }
        
        .nbs-flexisel-inner {
            position: relative;
            overflow: hidden;
            float:left;
            width:100%;
            background:#fcfcfc;
            background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* FF3.6+ */
            background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee)); /* Chrome,Safari4+ */
            background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Chrome10+,Safari5.1+ */
            background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Opera11.10+ */
            background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* IE10+ */
            background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); /* W3C */
            border:1px solid #ccc;
            border-radius:5px;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;  
        }
        
        .nbs-flexisel-item {
            float:left;
            margin:0px;
            padding:0px;
            cursor:pointer;
            position:relative;
            line-height:0px;
        }
        .nbs-flexisel-item img {
            max-width: 100%;
            cursor: pointer;
            position: relative;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        /*** Navigation ***/
        
       
         .nbs-flexisel-nav-left,
        .nbs-flexisel-nav-right {
            
            border-radius:15px;
            -moz-border-radius:15px;
            -webkit-border-radius:15px;      
            position: absolute;
            cursor: pointer;
            z-index: 4;
               
               
               
               top: 50%;
            transform: translateY(-50%);   
           
            color: #fff;  
        }
        .nbs-flexisel-nav-left {
            left: 10px;
        }
        
        .nbs-flexisel-nav-left:before {
            content: 
        }
        
        .nbs-flexisel-nav-left.disabled {
            opacity: 0.4;
        }
        
        .nbs-flexisel-nav-right {
            right: 5px;    
        }
        
        .nbs-flexisel-nav-right:before {
            content: 
        }
        
        .nbs-flexisel-nav-right.disabled {
            opacity: 0.4;
        }

